<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <div class="container">
        <h1 id="login">Login</h1>
        <div class="input">
            <p>Username</p>
            <input type="text"  id="username" required placeholder="Enter your username">
        </div>
        <div class="input">
            <p>Password</p>
            <input type="password" id="password" required placeholder="Enter your password">
        </div>
        <div class="option">
            <a href="../Forget/index.html">Forget password?</a>
            <a href="../Sign-up/index.html">Sign-Up</a>
        </div>
        <button class="btn" onclick="fingerprint()">Submit</button>
    </div>

    <script src="script.js"></script>
</body>
</html>
